/*$content-h5-h: 18px;*/
@media screen and (min-width: 1300px) {
  .destination-img.destination-img-mq {
    max-width: 25vw;
  }
}
@media screen and (max-width: 1200px) {
  h1.mq-h1, h2.mq-h2 {
    font-size: 10vw;
  }
  .mq-subnavbar.subnavbar ul {
    width: 100%;
  }
}
body {
  box-sizing: border-box;
  margin: 0;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  font-family: "Bellefair", sans-serif;
  font-size: 18px;
}

main {
  width: 100%;
  /*height: calc(100vh - tools.$nav-padding-top - tools.$nav-h - tools.$content-padding-top);*/
  height: 76.45vh;
  padding-top: 8.44vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: 0;
  color: inherit;
  background-color: inherit;
}

h1 {
  font-size: 150px;
}

h2 {
  margin: 0;
  font-size: 100px;
  line-height: 115px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
  opacity: 50.42%;
}

h5 {
  color: hsl(231deg, 79%, 90%);
  font-size: 28px;
  letter-spacing: 4.75px;
}

.body-text {
  color: hsl(231deg, 79%, 90%);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
}

.subhead1 {
  color: hsl(0deg, 0%, 100%);
  font-family: "Bellefair", sans-serif;
  font-size: 28px;
}

.subhead2 {
  color: hsl(231deg, 77%, 90%);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
}

.navtext {
  font-size: 16px;
  letter-spacing: 2.7px;
}

.body-text {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4, .subhead1 {
  font-family: "Bellefair", sans-serif;
  font-weight: normal;
}

h5, .subhead2, .navtext {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4 {
  color: hsl(0deg, 0%, 100%);
}

h1, h2, h3, h4, h5, .subhead1, .subhead2, .navtext, p {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

p {
  text-align: justify;
  text-transform: unset;
}

/* Design Home Page FIGMA DIRECTIVES and responsive*/
header {
  width: 100%;
  min-height: 10.67vh; /*To let '.nav-index' grow outer parent flexbox needs height.*/
  height: 10.67vh;
  display: flex;
  padding-top: 4.44vh;
  justify-content: space-between;
  align-items: center;
}
header img {
  margin-left: 3.75vw;
  width: 48px;
  height: 48px;
  transition: all 0.9s ease-in-out;
}
header a:hover img {
  width: 40px;
  height: 40px;
  transform: rotate(360deg);
}
header hr {
  max-width: 32.85vw;
  flex-grow: 1;
  mix-blend-mode: normal;
  background-color: hsl(0deg, 0%, 59%);
  border: 1px solid hsl(0deg, 0%, 59%);
  opacity: 25.15%;
  transform: translateX(4.51vw);
  z-index: 1;
}
header .nav-index {
  width: 57.64vw;
  max-width: 57.64vw;
  height: 100%; /* Let flex item fill all 'header' container height.*/
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}
header .nav-index ul {
  height: 100%;
  margin: 0;
  padding: 0 11.46vw 0 8.54vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content-element {
  box-sizing: border-box;
  height: 100%;
  /*border: 3px solid transparent;*/
}
.navbar-content-element.navbar-current-page {
  border-bottom: 3px solid hsl(0deg, 0%, 100%);
  margin-bottom: -3px;
}
.navbar-content-element:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  margin-bottom: -3px;
}
.navbar-content-element a {
  display: flex;
  align-items: center; /* 'align-content' depends on the whole fb content, 'align-items' acts respect to each fb child */
  height: 100%;
}
.navbar-content-element a:visited {
  border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar-content-element a span:first-child {
  font-weight: 700;
}
.navbar-content-element span {
  display: inline-block;
  margin: 0 3px;
  color: hsl(0deg, 0%, 100%);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
}

/* Main content */
.grid-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: inherit;
}

.grid-cell-01 {
  width: 30.9vw;
  max-width: 30.9vw;
  grid-column: 1/2;
  padding: 0 0 0 11.46vw;
  align-items: baseline;
}
.grid-cell-01 .h5-span-number {
  font-weight: 700;
  opacity: 0.25;
}

.grid-cell-02 {
  grid-column: 2/3;
  justify-self: center;
}

.grid-cell-01, .grid-cell-02 {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  background: url("../assets/destination/background-destination-desktop.jpg") no-repeat center center/cover fixed; /* CSS-TRICKS: https://css-tricks.com/perfect-full-page-background-image/ .It needs on ./style.css path; https://stackoverflow.com/questions/25875713/can-you-declare-the-background-size-in-shorthand-for-the-background */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@keyframes destination-img-animation {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
.destination-show {
  height: 64vh;
}
.destination-show .destination-img {
  padding: 10.7vh 0 0 4.41vw;
  /*max-width: 30.9vw;*/
  width: 100%;
}
.destination-show .destination-img-animation {
  animation-name: destination-img-animation;
  animation-duration: 0.5s;
}

.destination-interact {
  width: 30.9vw;
  max-width: 30.9vw;
  height: 52.44vh;
  padding-top: 10.89vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.destination-interact .destination-navbar ul {
  height: 100%;
  min-height: 31px;
  display: flex;
  justify-content: space-between;
  color: hsl(231deg, 79%, 90%);
}
.destination-interact .destination-navbar ul .subnavbar-destination-element {
  cursor: pointer;
}
.destination-interact .destination-navbar ul .subnavbar-destination-element.snde-current {
  color: hsl(0deg, 0%, 100%);
  border-bottom: 3px solid hsl(0deg, 0%, 100%);
}
.destination-interact .destination-navbar ul .subnavbar-destination-element:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.destination-interact .destination-interact-subgrid {
  width: 100%;
  min-height: 18.85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.destination-interact .destination-interact-subgrid div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5.93% 0 0 0;
}

.subnavbar ul {
  width: 64%;
}

/*# sourceMappingURL=destination.css.map */
