@use 'tools';

* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
}

body {
    @include tools.font-styler;
    margin: 0;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    font-family: tools.$font-bellefair;
}
main {
    width: 100%;
    height: tools.$main-h;
    padding-top: tools.$content-padding-top;
}
a {
    text-decoration: none;
    color: unset;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    padding: 0;
    border: 0;
    color: inherit;
    background-color: inherit;
}

h2 { 
    margin: 0;
    line-height: 115px;
}
h4 { 
    opacity: 50.42%;
}
h5 { 
    color: tools.$color-body-text;
    letter-spacing: 4.75px;
}
.body-text {
    color: tools.$color-body-text;
    line-height: 30px;
    letter-spacing: 1px;
}
.subhead1 { 
    color: tools.$color-content;
    font-family: tools.$font-bellefair;
}
.subhead2 {
    color: tools.$color-head;
    font-family: tools.$font-barlowCondensed;
    letter-spacing: 2.35px;
}
.navtext { 
    letter-spacing: 2.7px; 
}
.body-text {
    font-family: tools.$font-barlow;
    font-style: normal;
    font-weight: 400;
}
h1, h2, h3, h4, .subhead1 { 
    font-family: tools.$font-bellefair;
    font-weight: normal;
}
h5, .subhead2, .navtext { 
    font-family: tools.$font-barlowCondensed;
    font-weight: normal;
}
h1, h2, h3, h4 { color: tools.$color-content; }
h1, h2, h3, h4, h5, .subhead1, .subhead2, .navtext, p { 
    margin: 0;
    padding: 0;
    text-transform: uppercase; 
}
p {
    text-align: justify;
    text-transform: unset;
}

/* Design Home Page FIGMA DIRECTIVES and responsive*/

header {
    width: 100%;
    height: tools.$nav-h;
    display: flex;
    padding-top: tools.$nav-padding-top;
    justify-content: space-between;
    align-items: center;
    .mobile-navbar-hamburger {
        height: 21px;
        width: 24px;
        display: none;
        cursor: pointer;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &>img {
        margin-left: 3.75vw;
        width: 48px;
        height: 48px;
        transition: all 0.9s ease-in-out;
    }
    a:hover img {
        width: 40px;
        height: 40px;
        transform: rotate(360deg);
    }
    hr {
        max-width: 32.85vw;
        flex-grow: 1;
        mix-blend-mode: normal;
        background-color: hsla(0, 0%, 59%, 1);
        border: 1px solid hsla(0, 0%, 59%, 1);
        opacity: 25.15%;
        transform: translateX(4.51vw);
        z-index: 1;
    }
    .nav-index { 
        width: tools.$nav-w;
        max-width: tools.$nav-w;
        height: 100%; /* Let flex item fill all 'header' container height.*/
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        ul {
            height: 100%;
            margin: 0;
            padding: 0 11.46vw 0 8.54vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .navbar-content-element {
        height: 100%;
        &.navbar-current-page {
            border-bottom: 3px solid tools.$color-content;
            margin-bottom: -3px;
        }
        &:hover {
            border-bottom: 3px solid tools.$color-navbar-hover;
            margin-bottom: -3px;
        }
        a {
            display: flex;
            align-items: center; /* 'align-content' depends on the whole fb content, 'align-items' acts respect to each fb child */
            height: 100%;
            &:visited {
                border-bottom: 3px solid rgba(255, 255, 255);
            }
            span:first-child {
                font-weight: 700;
            }
        }
        span {
            display: inline-block;
            margin: 0 3px;
            color: tools.$color-content;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 2.7px;
        }
    }
}

/* Main content */
main {
    //overflow-y: auto;
    .main-h5 {
        height: tools.$content-h5-h;
        width: 100%;
        padding-left: tools.$content-h5-padding-left;
        .h5-span-number {
            font-weight: 700;
            opacity: 0.25;        
        }
    }
    .content {
        width: 100%;
        //height: calc(100vh - tools.$tab-navbar-h - tools.$tab-main-h5-padding-bottom);
        //height: 100%;
        display: flex;
        color: inherit;
        .fb-cell-01, .fb-cell-02 {
            height: 100%;;
            display: flex;
            flex-direction: column;
        }
        .fb-cell-01 {
            width: 100%;
            padding-left: tools.$main-c01-padding-left;
            align-items: baseline;
        }
        .fb-cell-02 {
            .subnavbar {
                display: flex;
                justify-content: center;
            }
            justify-self: center;    
        }
    }
}


// Media Query 
@media screen and (max-width: 1200px) {
    .mq-subnavbar.subnavbar ul {
        width: 100%;
    }
}

@media screen and (max-width: tools.$tablet-w) {
    body {
        @include tools.font-styler($max-vw: tools.$tablet-w);
        header {
            position: fixed;
            top: 0;
            height: tools.$tab-navbar-h;
            padding-top: unset;
            hr {display: none;}
            nav.nav-index {
                .navbar-content-element a span:first-child { //selector ':first-child' gets element from a list of siblings
                    display: none;
                }
            }
        }
        main.mq-tab {
            position: relative;
            top: calc(tools.$tab-navbar-h);
            overflow-y: auto;
            padding-top: 0;
            height: calc(100vh - tools.$tab-navbar-h);
            .main-h5 {
                padding: tools.$tab-h5-padding-top 0 tools.$tab-main-h5-padding-bottom tools.$content-h5-padding-left;
                height: initial;
            }
            .content.content-to-fb {
                * {
                    padding: 0;
                }
                padding: 0; 
                width: 100%;
                height: initial;
                display: flex;
                flex-direction: column;
                align-items: center;
                &>section {
                    /*&.fb-cell-01 {
                        padding-top: tools.$tab-content-padding-top;
                    }*/
                    width: 100%;
                    height: initial;
                    align-items: center;
                    .body-text {
                        text-align: center;
                    }
                }

                .mq-subnavbar.subnavbar {
                    width: 100%;
                }
            }
        }
    }
}


.mobile-navbar {
    display: none;
    position: fixed;
    right: 0;
    height: 100vh;
    max-width: tools.$mobile-navbar-w;
    width: 100%;
    padding: tools.$mobile-navbar-padding;
    z-index: 1;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}
@media screen and (max-width: tools.$mobile-w) {
    //html {height: 100vh; min-height: 100vh;}
    body {
        //font-size: 1px;
        @include tools.font-styler($max-vw: tools.$mobile-w);
        //position: relative;
        //min-height: tools.$mobile-body-min-h;
        height: initial;
        //height: 100%;
        z-index: 0;
        padding: 0 tools.$mobile-body-padding-lr;
        //overflow-y: clip;
        overflow-y: hidden;
        .mobile-navbar {
            display: none;
        }
        header {
            width: calc(100vw - 2 * tools.$mobile-body-padding-lr);
            min-height: tools.$mobile-header-h;
            height: tools.$mobile-header-h;
            //overflow: hidden;
            //padding: 0 tools.$mobile-header-padding-lr;
            hr, .nav-index {
                display: none;
            }
            .mobile-navbar-hamburger {
                height: 21px;
                width: 24px;
                display: block;
                cursor: pointer;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .mobile-navbar {
            .mobile-navbar-close-btn {
                margin-left: auto;
                display: block;
                height: tools.$mobile-close-btn-dim;
                width: tools.$mobile-close-btn-dim;
                cursor: pointer;
                background-color: transparent;
            }
            .nav-index {
                margin-top: 9.74vh;
                height: tools.$mobile-navindex-height;
                color: tools.$color-content;
                ul {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    li {
                        span {
                            margin-right: 12px;
                        }
                    }                    
                }
            }
        }
        
        main.main-mobile.mq-mobile {
            position: relative;
            top: tools.$mobile-main-position-top;
            bottom: 0;
            height: 100%;
            //min-height: 555px;
            min-height: 800px;
            //min-height: calc(276px + 279px);
            //height: 100vh;
            padding: 0;
            overflow-y: auto;                
            .content.content-to-fb {
                //position: relative;
                //height: 800px;
                height: 100%;
                width: 100%;
                margin: 0;
                //padding: tools.$mobile-content-padding-top 0 0 0;
                justify-content: flex-start;
                .fb-cell.fb-cell-01, .fb-cell.fb-cell-02 {
                    margin: 0;
                    height: initial;
                    width: 100%;
                }
            }
        }
    }
}