@use 'tools';
@use 'common';

//$fb-middle-container-min-h: 271px;
//$h5-padding-bottom: 17.1vh;
//$nav-padding-top: 13.3vh;
//$fb-middle-container-paddding-top: 23.6vh;

//$crew-section-01-min-w: 33.89vw;
//$fb-middle-container-crew-name-w: 42.64vw;
$description-max-w: 30.4vw;
$subnvbar-ul-h: 1.7vh;
//$subnavbar-padding-bottom: 10.4vh;
$fb-cell-01-max-w: 42.64vw;
$fb-cell-01-padding-bottom: 10.4vh;
$cifmc-margin-top: 17.11vh;  
$crew-name-margin: 1.7vh 0 3.8vh 0;
$img-w: 39.4vw;
$img-h: 79.1vh;

@keyframes crew-img-animation {
    0%   {width: 0%;}
    25%  {width: 25%;}
    50%  {width: 50%;}
    75%  {width: 75%;}
    100% {width: 100%;}    
}

html {
    @include tools.background(url("../assets/crew/background-crew-desktop.jpg"));
    main {
        .content.content-to-fb {
            height: tools.$content-from-top-h;
            .fb-cell-01.crew-interact {
                max-width: calc($fb-cell-01-max-w + tools.$main-c01-padding-left);
                width: 100%;
                padding-bottom: $fb-cell-01-padding-bottom;
                .crew-interact-fb-middle-container {
                    height: 100%;// - $cifmc-padding-top);
                    margin-top: $cifmc-margin-top;
                    display: flex;
                    flex-direction: column;
                    .crew-role, .crew-description {
                        max-width: $description-max-w;
                    }
                    .crew-name {
                        margin: $crew-name-margin;
                        //min-width: $fb-middle-container-crew-name-w;
                    }
                }
                .crew-navbar {
                    height: $subnvbar-ul-h;
                    ul {
                        min-width: 132px;
                        width: 132px;
                        height: $subnvbar-ul-h;
                        min-height: 15px;
                        display: flex;
                        justify-content: space-between;
                        .subnavbar-crew-element {
                            cursor: pointer;
                            min-width: 15px;
                            min-height: 15px;
                            background-color: tools.$color-content;
                            mix-blend-mode: normal;
                            opacity: 17.44%;
                            border-radius: 50%;
                            &.nce-current {
                                opacity: unset;
                            }
                            &:hover {
                                opacity: 50.01%;
                            }
                        }
                    }
                }
            }
        }
        .crew-show {
            max-width: $img-w;
            .crew-img {
                height: 100%;
                width: 100%;
            }
            .crew-img-animation {
                animation-name: crew-img-animation;
                animation-duration: 0.5s;
            }
        }
    }
}

// Media Query
//Tab
@media screen and (max-width: tools.$tablet-w) {
    $tab-fbc-01-h: 22.65vh;
    $tab-fbc-01-w: 59.64vw;
    $tab-fbc-01-subnav-h: 1vh;
    //$tab-fbc-02-padding-top: 3.9vh;
    $tab-fbc-01-padding-bottom: 3.9vh;
    $tab-fbc-02-h: 51.95vh;
    $tab-fbc-02-mw: 56.04vw;
    $tab-fbc-02-img-w: 59.4vw;
    $tab-fbc-02-img-h: 55vh;
    html {
        @include tools.background(url("../assets/crew/background-crew-tablet.jpg"));
        body {
            @include tools.font-styler($max-vw: tools.$tablet-w);
            main.mq-tab {
                .content.content-to-fb.content-crew {
                    .crew-interact.fb-cell-01 {
                        padding-bottom: $tab-fbc-01-padding-bottom;
                        .crew-interact-fb-middle-container {
                            height: $tab-fbc-01-h;
                            width: $tab-fbc-01-w;
                            margin: 0;
                            justify-content: space-between;
                            align-items: center;
                            text-align: center;
                            &>* {
                                max-width: $tab-fbc-01-w;
                                width: 100%;
                                margin: initial;
                            }
                            .subnavbar.mq-subnavbar.crew-navbar {
                                width: initial;
                                ul {
                                    height: $tab-fbc-01-subnav-h;                                
                                    &>* {
                                        min-height: unset;
                                        min-width:unset;
                                    }
                                    .subnavbar-crew-element {
                                        height: $tab-fbc-01-subnav-h;
                                        width: $tab-fbc-01-subnav-h;
                                    }
                                }
                            }   
                        }
                    }
                    .fb-cell-02 {
                        max-width: $tab-fbc-02-mw;
                        height: $tab-fbc-02-h;
                        width: 100%;
                        margin: auto;
                    }
                }
            }
        }
    }
}