@use 'tools';
@use 'common';

//$fb-middle-container-min-h: 271px;
//$h5-padding-bottom: 17.1vh;
//$nav-padding-top: 13.3vh;
//$fb-middle-container-paddding-top: 23.6vh;

$fb-middle-container-crew-name-w: 42.6vw;
$description-max-w: 30.4vw;
$subnvbar-ul-h: 1.7vh;
//$subnavbar-padding-bottom: 10.4vh;
$fb-cell-01-padding-bottom: 10.4vh;
$cifmc-padding-top: 17.1vh;  
$crew-name-margin: 1.7vh 0 3.8vh 0;
$img-w: 39.4vw;
$img-h: 79.1vh;

@keyframes crew-img-animation {
    0%   {width: 0%;}
    25%  {width: 25%;}
    50%  {width: 50%;}
    75%  {width: 75%;}
    100% {width: 100%;}    
}

html {
    @include tools.background(url("../assets/crew/background-crew-desktop.jpg"));
    main {
        .content.content-to-fb {
            height: tools.$content-from-top-h;
            .fb-cell-01.crew-interact {
                width: unset;
                padding-bottom: $fb-cell-01-padding-bottom;
                .crew-interact-fb-middle-container {
                    height: 100%;// - $cifmc-padding-top);
                    padding-top: $cifmc-padding-top;
                    display: flex;
                    flex-direction: column;
                    .crew-role, .crew-description {
                        max-width: $description-max-w;
                    }
                    .crew-name {
                        margin: $crew-name-margin;
                        min-width: $fb-middle-container-crew-name-w;
                    }
                }
                .crew-navbar {
                    height: $subnvbar-ul-h;
                    ul {
                        min-width: 132px;
                        width: 132px;
                        height: $subnvbar-ul-h;
                        min-height: 15px;
                        display: flex;
                        justify-content: space-between;
                        .subnavbar-crew-element {
                            cursor: pointer;
                            min-width: 15px;
                            min-height: 15px;
                            background-color: tools.$color-content;
                            mix-blend-mode: normal;
                            opacity: 17.44%;
                            border-radius: 50%;
                            &.nce-current {
                                opacity: unset;
                            }
                            &:hover {
                                opacity: 50.01%;
                            }
                        }
                    }
                }
            }
        }
        .crew-show {
            //overflow-y: hidden;
            //position: relative;
            //bottom: 5vh;
            max-width: $img-w;
            //height: 100%;
            .crew-img {
                width: 100%;
                position: relative;
                bottom: 5vh;
            }
            .crew-img-animation {
                animation-name: crew-img-animation;
                animation-duration: 0.5s;
            }
        }
    }
}

// Media Query
//Tab
@media screen and (max-width: tools.$tablet-w) {
    $tab-gc-01-h: 22.7vh;
    $tab-gc-01-w: 59.6vw;
    $tab-gc-01-subnav-h: 1vh;
    $tab-gc-02-padding-top: 3.9vh;
    $tab-gc-02-img-w: 59.4vw;
    $tab-gc-02-img-h: 55vh;
    html {
        @include tools.background(url("../assets/crew/background-crew-tablet.jpg"));
        body {
            @include tools.font-styler($max-vw: tools.$tablet-w);
            main.mq-tab {
                .grid-content.grid-to-fb-content.grid-content-crew {
                    .grid-cell-01 {
                        .crew-interact-fb-middle-container {
                            height: $tab-gc-01-h;
                            width: $tab-gc-01-w;
                            justify-content: space-between;
                            text-align: center;
                            &>* {
                                max-width: $tab-gc-01-w;
                                width: 100%;
                            }
                            .subnavbar ul {
                                height: $tab-gc-01-subnav-h;                                
                                &>* {
                                    min-height: unset;
                                    min-width:unset;
                                }
                                .subnavbar-crew-element {
                                    height: $tab-gc-01-subnav-h;
                                    width: $tab-gc-01-subnav-h;
                                }
                            }
                        }
                    }
                    .grid-cell-02 {
                        height: 100%;
                        max-width: $tab-gc-02-img-w;
                        padding-top: $tab-gc-02-padding-top;
                        overflow-y: hidden;
                    }
                }
            }
        }
    }
}