/* Mq variables */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  font-family: "Bellefair", sans-serif;
}
body body {
  font-size: 18px;
}
body h1 {
  font-size: 150px;
}
body h2 {
  font-size: 100px;
}
body h3 {
  font-size: 56px;
}
body h4 {
  font-size: 32px;
}
body h5 {
  font-size: 28px;
}
body ul span {
  font-size: 16px;
}
body .body-text {
  font-size: 18px;
}
body .subhead1 {
  font-size: 28px;
}
body .subhead2 {
  font-size: 14px;
}

main {
  width: 100%;
  height: 84.96vh;
  padding-top: 8.44vh;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: 0;
  color: inherit;
  background-color: inherit;
}

h2 {
  margin: 0;
  line-height: 115px;
}

h4 {
  opacity: 50.42%;
}

h5 {
  color: hsl(231deg, 79%, 90%);
  letter-spacing: 4.75px;
}

.body-text {
  color: hsl(231deg, 79%, 90%);
  line-height: 30px;
  letter-spacing: 1px;
}

.subhead1 {
  color: hsl(0deg, 0%, 100%);
  font-family: "Bellefair", sans-serif;
}

.subhead2 {
  color: hsl(231deg, 77%, 90%);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.35px;
}

.navtext {
  letter-spacing: 2.7px;
}

.body-text {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4, .subhead1 {
  font-family: "Bellefair", sans-serif;
  font-weight: normal;
}

h5, .subhead2, .navtext {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4 {
  color: hsl(0deg, 0%, 100%);
}

h1, h2, h3, h4, h5, .subhead1, .subhead2, .navtext, p {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

p {
  text-align: justify;
  text-transform: unset;
}

/* Design Home Page FIGMA DIRECTIVES and responsive*/
header {
  width: 100%;
  height: 15.04vh;
  display: flex;
  padding-top: 4.44vh;
  justify-content: space-between;
  align-items: center;
}
header .mobile-navbar-hamburger {
  height: 21px;
  width: 24px;
  display: none;
  cursor: pointer;
}
header .mobile-navbar-hamburger img {
  height: 100%;
  width: 100%;
}
header > img {
  margin-left: 3.75vw;
  width: 48px;
  height: 48px;
  transition: all 0.9s ease-in-out;
}
header a:hover img {
  width: 40px;
  height: 40px;
  transform: rotate(360deg);
}
header hr {
  max-width: 32.85vw;
  flex-grow: 1;
  mix-blend-mode: normal;
  background-color: hsl(0deg, 0%, 59%);
  border: 1px solid hsl(0deg, 0%, 59%);
  opacity: 25.15%;
  transform: translateX(4.51vw);
  z-index: 1;
}
header .nav-index {
  width: 57.64vw;
  max-width: 57.64vw;
  height: 100%; /* Let flex item fill all 'header' container height.*/
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}
header .nav-index ul {
  height: 100%;
  margin: 0;
  padding: 0 11.46vw 0 8.54vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar-content-element {
  height: 100%;
}
header .navbar-content-element.navbar-current-page {
  border-bottom: 3px solid hsl(0deg, 0%, 100%);
  margin-bottom: -3px;
}
header .navbar-content-element:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  margin-bottom: -3px;
}
header .navbar-content-element a {
  display: flex;
  align-items: center; /* 'align-content' depends on the whole fb content, 'align-items' acts respect to each fb child */
  height: 100%;
}
header .navbar-content-element a:visited {
  border-bottom: 3px solid rgb(255, 255, 255);
}
header .navbar-content-element a span:first-child {
  font-weight: 700;
}
header .navbar-content-element span {
  display: inline-block;
  margin: 0 3px;
  color: hsl(0deg, 0%, 100%);
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.7px;
}

/* Main content */
main .main-h5 {
  height: 3.78vh;
  width: 100%;
  padding-left: 11.56vw;
}
main .main-h5 .h5-span-number {
  font-weight: 700;
  opacity: 0.25;
}
main .content {
  width: 100%;
  display: flex;
  color: inherit;
}
main .content .fb-cell-01, main .content .fb-cell-02 {
  height: 100%;
  display: flex;
  flex-direction: column;
}
main .content .fb-cell-01 {
  width: 100%;
  padding-left: 11.46vw;
  align-items: baseline;
}
main .content .fb-cell-02 {
  justify-self: center;
}
main .content .fb-cell-02 .subnavbar {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .mq-subnavbar.subnavbar ul {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body h3 {
    font-size: 40px;
  }
  body h4 {
    font-size: 24px;
  }
  body h5, body .h5-span-number {
    font-size: 20px;
  }
  body span {
    font-size: 14px;
  }
  body .body-text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.3px;
  }
  body header {
    position: fixed;
    top: 0;
    height: 9.4vh;
    padding-top: unset;
  }
  body header hr {
    display: none;
  }
  body header nav.nav-index .navbar-content-element a span:first-child {
    display: none;
  }
  body main.mq-tab {
    position: relative;
    top: 9.4vh;
    overflow-y: auto;
    padding-top: 0;
    height: 90.6vh;
  }
  body main.mq-tab .main-h5 {
    padding: 3.9vh 0 5.86vh 11.56vw;
    height: initial;
  }
  body main.mq-tab .content.content-to-fb {
    padding: 0;
    width: 100%;
    height: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main.mq-tab .content.content-to-fb * {
    padding: 0;
  }
  body main.mq-tab .content.content-to-fb > section {
    width: 100%;
    height: initial;
    align-items: center;
  }
  body main.mq-tab .content.content-to-fb > section .body-text {
    text-align: center;
  }
  body main.mq-tab .content.content-to-fb .mq-subnavbar.subnavbar {
    width: 100%;
  }
}
@keyframes mnt {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes mnt-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
.mobile-navbar {
  display: block;
  visibility: hidden;
  position: fixed;
  right: 0;
  height: 100vh;
  max-width: 67.73vw;
  width: 0;
  padding: 33.95px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  transition: visibility 0.1s linear, width 0.5s linear;
}

.mobile-navbar-transition-in {
  visibility: visible;
  width: 100%;
}

.mobile-navbar-transition-out {
  visibility: hidden;
  width: 0;
}

@media screen and (max-width: 375px) {
  body {
    min-height: 667px;
    height: 100vh;
    z-index: 0;
    padding: 0 24px;
    overflow-y: hidden;
  }
  body h1 {
    font-size: 80px;
    line-height: 100px;
  }
  body h2 {
    font-size: 56px;
    line-height: 64px;
  }
  body h3 {
    font-size: 24px;
    line-height: 28px;
  }
  body h4 {
    font-size: 16px;
    line-height: 18px;
  }
  body h5, body .h5-span-number {
    font-size: 16px;
    line-height: 19px;
  }
  body .body-text {
    font-size: 15px;
    line-height: 25px;
  }
  body .mobile-navbar {
    line-height: 19px;
    letter-spacing: 2.7px;
    font-size: 16px;
    font-weight: 400;
  }
  body .mobile-navbar ul > li span:first-child {
    font-weight: 700;
  }
  body header {
    width: calc(100vw - 48px);
    min-height: 64px;
    height: 64px;
  }
  body header hr, body header .nav-index {
    display: none;
  }
  body header .mobile-navbar-hamburger {
    height: 21px;
    width: 24px;
    display: block;
    cursor: pointer;
  }
  body header .mobile-navbar-hamburger img {
    height: 100%;
    width: 100%;
  }
  body .mobile-navbar .mobile-navbar-close-btn {
    margin-left: auto;
    display: block;
    height: 19.09px 26.95px 0 32px;
    width: 19.09px 26.95px 0 32px;
    cursor: pointer;
    background-color: transparent;
  }
  body .mobile-navbar .nav-index {
    margin-top: 9.74vh;
    height: 172px;
    color: hsl(0deg, 0%, 100%);
  }
  body .mobile-navbar .nav-index ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  body .mobile-navbar .nav-index ul li span {
    margin-right: 12px;
  }
  body main.main-mobile.mq-mobile {
    height: calc(100vh - 88px);
    position: relative;
    top: 88px;
    bottom: 0;
    padding: 0;
    overflow-y: auto;
  }
  body main.main-mobile.mq-mobile .main-h5 {
    margin-bottom: 32px;
    padding: 0;
    text-align: center;
  }
  body main.main-mobile.mq-mobile .content.content-to-fb {
    width: 100%;
    margin: 0;
    justify-content: flex-start;
  }
  body main.main-mobile.mq-mobile .content.content-to-fb .fb-cell.fb-cell-01, body main.main-mobile.mq-mobile .content.content-to-fb .fb-cell.fb-cell-02 {
    margin: 0;
    height: 100%;
    width: 100%;
  }
}
@keyframes destination-img-animation {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
html {
  background: url("../assets/destination/background-destination-desktop.jpg") no-repeat center center/cover fixed; /* CSS-TRICKS: https://css-tricks.com/perfect-full-page-background-image/ .It needs on ./style.css path; https://stackoverflow.com/questions/25875713/can-you-declare-the-background-size-in-shorthand-for-the-background */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
html main .content.content-to-fb {
  height: 59.5vh;
}
html main .content.content-to-fb .fb-cell-01.destination-show {
  height: 100%;
  max-width: 46.9vw;
  align-self: center;
}
html main .content.content-to-fb .fb-cell-01.destination-show .destination-img {
  max-width: 30.9vw;
  width: 100%;
  margin: auto 0 0 auto;
}
html main .content.content-to-fb .fb-cell-01.destination-show .destination-img-animation {
  animation-name: destination-img-animation;
  animation-duration: 0.5s;
}
html main .content.content-to-fb .fb-cell-02.destination-interact {
  height: 100%;
  width: 30.9vw;
  margin: 0 11.3vw 0 auto;
  padding-top: 7.1vh;
}
html main .content.content-to-fb .fb-cell-02.destination-interact .destination-interact-child-01 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 2;
}
html main .content.content-to-fb .fb-cell-02.destination-interact .destination-interact-child-01 .destination-navbar {
  justify-content: flex-start;
}
html main .content.content-to-fb .fb-cell-02.destination-interact .destination-interact-child-01 .destination-navbar ul {
  width: 64%;
  height: 100%;
  min-height: 31px;
  display: flex;
  justify-content: space-between;
  color: hsl(231deg, 79%, 90%);
}
html main .content.content-to-fb .fb-cell-02.destination-interact .destination-interact-child-01 .destination-navbar ul .subnavbar-destination-element {
  cursor: pointer;
}
html main .content.content-to-fb .fb-cell-02.destination-interact .destination-interact-child-01 .destination-navbar ul .subnavbar-destination-element.snde-current {
  color: hsl(0deg, 0%, 100%);
  border-bottom: 3px solid hsl(0deg, 0%, 100%);
}
html main .content.content-to-fb .fb-cell-02.destination-interact .destination-interact-child-01 .destination-navbar ul .subnavbar-destination-element:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
html main .content.content-to-fb .fb-cell-02.destination-interact .destination-interact-child-01 .destination-description {
  line-height: 32px;
  letter-spacing: 0.1px;
}
html main .content.content-to-fb .fb-cell-02.destination-interact .destination-interact-child-02 .destination-interact-subgrid {
  width: 100%;
  height: 9.9vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
html main .content.content-to-fb .fb-cell-02.destination-interact .destination-interact-child-02 .destination-interact-subgrid div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5.93% 0 0 0;
}

@media screen and (max-width: 768px) {
  html {
    background: url("../assets/destination/background-destination-tablet.jpg") no-repeat center center/cover fixed; /* CSS-TRICKS: https://css-tricks.com/perfect-full-page-background-image/ .It needs on ./style.css path; https://stackoverflow.com/questions/25875713/can-you-declare-the-background-size-in-shorthand-for-the-background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  main.mq-tab .content.content-to-fb.content-destination > section {
    padding: 0;
  }
  main.mq-tab .content.content-to-fb.content-destination .destination-show.fb-cell-01 .destination-img {
    margin: 0;
    height: 29.3vmax;
    max-width: 29.3vmax;
    width: 29.3vmax;
  }
  main.mq-tab .content.content-to-fb.content-destination .destination-interact.fb-cell-02 {
    height: 100%;
    width: 74.6vw;
  }
  main.mq-tab .content.content-to-fb.content-destination .destination-interact.fb-cell-02 .destination-interact-child {
    width: 100%;
    align-items: center;
  }
  main.mq-tab .content.content-to-fb.content-destination .destination-interact.fb-cell-02 .destination-interact-child-01 {
    padding: 5.17vh 0 4.79vh 0;
    height: 100%;
  }
  main.mq-tab .content.content-to-fb.content-destination .destination-interact.fb-cell-02 .destination-interact-child-01 .destination-navbar {
    width: initial;
  }
  main.mq-tab .content.content-to-fb.content-destination .destination-interact.fb-cell-02 .destination-interact-child-01 .destination-navbar ul {
    width: 37.2vw;
  }
  main.mq-tab .content.content-to-fb.content-destination .destination-interact.fb-cell-02 .destination-interact-child-02 {
    height: 8.8vh;
  }
  main.mq-tab .content.content-to-fb.content-destination .destination-interact.fb-cell-02 .destination-interact-child-02 .destination-interact-subgrid .dis-subgrid-fb {
    padding: 0;
    justify-content: flex-end;
    align-items: center;
  }
  main.mq-tab .content.content-to-fb.content-destination .destination-interact.fb-cell-02 .destination-interact-child-02 .destination-interact-subgrid .dis-subgrid-fb span:nth-child(1) {
    margin-bottom: 1.2vh;
  }
}
@media screen and (max-width: 375px) {
  html {
    background: url("../assets/destination/background-destination-mobile.jpg") no-repeat center center/cover fixed; /* CSS-TRICKS: https://css-tricks.com/perfect-full-page-background-image/ .It needs on ./style.css path; https://stackoverflow.com/questions/25875713/can-you-declare-the-background-size-in-shorthand-for-the-background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  html body main.main-mobile.mq-mobile .content.content-to-fb.content-destination .fb-cell-01.destination-show {
    height: initial;
  }
  html body main.main-mobile.mq-mobile .content.content-to-fb.content-destination .fb-cell-01.destination-show .destination-img {
    height: 170px;
    max-width: unset;
    width: 170px;
  }
  html body main.main-mobile.mq-mobile .content.content-to-fb.content-destination .fb-cell-02.destination-interact {
    height: 296px;
  }
  html body main.main-mobile.mq-mobile .content.content-to-fb.content-destination .fb-cell-02.destination-interact .destination-interact-child-01 {
    padding: 0;
  }
  html body main.main-mobile.mq-mobile .content.content-to-fb.content-destination .fb-cell-02.destination-interact .destination-interact-child-01 .subnavbar.destination-navbar {
    width: 100%;
    padding: 26px 0 20px 0;
  }
  html body main.main-mobile.mq-mobile .content.content-to-fb.content-destination .fb-cell-02.destination-interact .destination-interact-child-01 .subnavbar.destination-navbar ul {
    margin: 0 auto;
    width: 63.33vw;
  }
  html body main.main-mobile.mq-mobile .content.content-to-fb.content-destination .fb-cell-02.destination-interact .destination-interact-child-01 .destination-description {
    line-height: 25px;
    letter-spacing: unset;
  }
  html body main.main-mobile.mq-mobile .content.content-to-fb.content-destination .fb-cell-02.destination-interact .destination-interact-child-02 {
    height: 100%;
  }
  html body main.main-mobile.mq-mobile .content.content-to-fb.content-destination .fb-cell-02.destination-interact .destination-interact-child-02 .destination-interact-subgrid {
    height: 244px;
    margin-top: 32px;
    padding: 32px 0 58px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  html body main.main-mobile.mq-mobile .content.content-to-fb.content-destination .fb-cell-02.destination-interact .destination-interact-child-02 .destination-interact-subgrid .dis-subgrid-fb {
    height: 61px;
  }
}

/*# sourceMappingURL=destination.css.map */
