@use 'tools';
@use 'common';


html {
    @include tools.background;
}

.content-description-side {
    width: 31.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: justify;        
    & > * {
        margin: 0;
    }
    h1 {
        margin: 2.67vh 0;
    }
}

.explore button {
    font-family: inherit;
    text-transform: uppercase;
    width: 274px;
    height: 274px;
    background-color: tools.$color-content;
    border-radius: 50%;
    cursor: pointer;
    outline: 0px solid;
    transition: 0.3s ease-out;
    &:hover {
        outline: 88px solid rgba(255, 255, 255, 0.1036);
    }
    span {
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 2px;
    }
}