//Global var
$color-back: hsl(230, 35%, 7%);
$color-head: hsl(231, 77%, 90%);
$color-content: hsl(0, 0%, 100%);
$color-body-text: hsl(231, 79%, 90%);
$color-navbar-hover: rgba(255, 255, 255, 0.50);

$desktop-w: 1440px;
$desktop-h: 900px;
$nav-width: 57.64vw;

$font-bellefair: "Bellefair", sans-serif;
$font-barlow: "Barlow", sans-serif;
$font-barlowCondensed: 'Barlow Condensed', sans-serif; 


@mixin background($img: url("../assets/home/background-home-desktop.jpg")) {
    background: $img no-repeat center center / cover fixed; /* CSS-TRICKS: https://css-tricks.com/perfect-full-page-background-image/ .It needs on ./style.css path; https://stackoverflow.com/questions/25875713/can-you-declare-the-background-size-in-shorthand-for-the-background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
