:root {
    --back: hsl(230, 35%, 7%);
    --head: hsl(231, 77%, 90%);
    --content: hsl(0, 0%, 100%);

    --desktop-w: 1440px;
    --desktop-h: 900px;

    --nav-width: 57.64vw;
}

body {
    box-sizing: content-box;
    margin: 0;
    max-width: 100vw;
    width: 100%;
    max-height: 100vh;   
    height: 100vh;
    background-image: url('../../assets/home/background-home-desktop.jpg'); /* Refers on ./style.css path */
    background-size: cover;
    background-position: center; /*https://developer.mozilla.org/en-US/docs/Web/CSS/background-position?retiredLocale=it*/
    font-family: "Bellefair", sans-serif;
}
main {
    width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button {
    padding: 0;
    border: 0;
    color: inherit;
    background-color: inherit;
}
h1, h2, h3, h4, .subhead1 { 
    font-family: 'Bellefair', serif; 
    font-weight: normal;
}
h5, .subhead2, .navtext, .body-text { 
    font-family: 'Barlow Condensed', sans-serif; 
    font-weight: normal;
}

h1 { 
    font-size: 150px;   
    text-transform: uppercase; 
}
h2 { font-size: 100px; }
h3 { font-size: 56px; }
h4 { font-size: 32px; }
h1, h2, h3, h4, .body-text { color: white }
h5 { 
    color: var(--head);
    font-size: 28px; 
    letter-spacing: 4.75px;
    text-transform: uppercase;
}
.body-text {
    font-size: 18px;
    line-height: 32px;
}
.subhead1 { font-size: 28px; }
.subhead2 { font-size: 14px; letter-spacing: 2.35px; }
.navtext { 
    font-size: 16px; 
    letter-spacing: 2.7px; 
    text-transform: uppercase; 
}


/* Design Home Page FIGMA DIRECTIVES and responsive*/
header {
    width: 100%;
    height: 10.67%; /*To let '.nav-index' grow outer parent flexbox needs height.*/
    display: flex;
    margin-top: 4.44vh;
    justify-content: space-between;
    align-items: center;
}
header img {
    margin-left: 3.75vw;
    width: 48px;
    height: 48px;
}
header hr {
    max-width: 32.85vw;
    flex-grow: 1;
    mix-blend-mode: normal;
    background-color: hsla(0, 0%, 59%, 1);
    border: 1px solid hsla(0, 0%, 59%, 1);
    opacity: 25.15%;
    transform: translateX(4.51vw);
    z-index: 1;
}
.nav-index { 
    width: var(--nav-width);
    max-width: var(--nav-width);
    height: 100%; /* Let flex item fill all 'header' container height.*/
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
}
.nav-index ul {
    height: 100%;
    margin: 0;
    padding: 0 11.46vw 0 8.54vw;
    display: flex;
    justify-content: space-between;
}
.nav-index li {
    margin: auto 0;
    cursor: pointer;
}
.nav-index span:first-child {
    font-weight: 700;
}
.nav-index li span {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
}

.grid-content {
    width: 100%;
    display: grid;
    grid-template-columns: calc(100vw - 57.64vw) 1fr;
    justify-items: center;
    align-items: center;
    color: inherit;
}

.descriptor > * {
    margin: 0;
}
.descriptor {
    max-width: calc(100vw - 57.64vw);
    margin: 43vh 0 14.55vh;
    padding-left: 11.69vw;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.explorer {
    grid-column: 2 / 3;
}
.explorer button {
    width: 38%;
    height: 38%;
    background-color: white;
    border-radius: 50%;
}
.explorer button span {
    font-size: 32px;
    line-height: 37px;

    letter-spacing: 2px;
}

/*
.descriptor {
    width: 450px;
    height: 382px;
    left: 165px;
    top: 387px;
}
.descriptor-h5 {
    height: 34px;
    left: 0.11%;
    right: 15.67%;
    top: calc(50% - 34px/2 - 174px);
    
    color: #D0D6F9;    
}
.descriptor-h1 {
    height: 172px;
    left: 0%;
    right: 1.11%;
    top: calc(50% - 172px/2 - 47px); 
    
    color: #FFFFFF;    
}
.descriptor-body {
    height: 128px;
    left: 0.11%;
    right: 1.22%;
    top: calc(50% - 128px/2 + 127px);
    
    color: #D0D6F9;    
}
*/