//Global var
$color-back: hsl(230, 35%, 7%);
$color-head: hsl(231, 77%, 90%);
$color-content: hsl(0, 0%, 100%);
$color-body-text: hsl(231, 79%, 90%);
$color-navbar-hover: rgba(255, 255, 255, 0.50);

// Viewports
$desktop-w: 1440px;
$desktop-h: 900px;
$tablet-w: 768px;
$tablet-h: 1024px;
$mobile-w: 365px;
//$mobile-h: 667px;

$nav-padding-top: 4.44vh;
$nav-w: 57.64vw;
$nav-h: calc($nav-padding-top + 10.6vh);

//$body-from-top-to-h5: calc(212px * 100 / $desktop-h);
$body-from-top-to-h5: 23.55vh;
$content-h5-h: 3.78vh;
$content-h5-padding-left: 11.56vw;
$content-from-top-h: calc(100vh - ($body-from-top-to-h5 + $content-h5-h));

$content-padding-top: 8.44vh;

$main-h: calc(100vh - $nav-h);
$main-c01-padding-left: 11.46vw;

$font-bellefair: "Bellefair", sans-serif;
$font-barlow: "Barlow", sans-serif;
$font-barlowCondensed: 'Barlow Condensed', sans-serif; 

// Mq variables
// Tablet
$tab-fbc-01-w: 58.6vw;
$tab-fbc-01-h: 32.6vh;
$tab-fbc-01-h5-padding-left: 5vw;
$tab-fbc-01-h5-margin-bottom: 5.9vh;
$tab-navbar-h: 9.4vh;
$tab-content-padding: 2.8vh 0 0 0;


// Mixin

@mixin background($img: url("../assets/home/background-home-desktop.jpg")) {
    background: $img no-repeat center center / cover fixed; /* CSS-TRICKS: https://css-tricks.com/perfect-full-page-background-image/ .It needs on ./style.css path; https://stackoverflow.com/questions/25875713/can-you-declare-the-background-size-in-shorthand-for-the-background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

//@mixin img-page($img) {
//    background: $img no-repeat center center / cover fixed; /* CSS-TRICKS: https://css-tricks.com/perfect-full-page-background-image/ .It needs on ./style.css path; https://stackoverflow.com/questions/25875713/can-you-declare-the-background-size-in-shorthand-for-the-background */
//    -webkit-background-size: cover;
//    -moz-background-size: cover;
//    -o-background-size: cover;
//}

@mixin font-styler($max-vw: $desktop-w) {
    @if $max-vw >= $desktop-w {
        body {font-size: 18px;}
        h1 {font-size: 150px;}
        h2 {font-size: 100px;}
        h3 {font-size: 56px;}
        h4 {font-size: 32px;}
        h5 {font-size: 28px;}
        ul span {font-size: 16px;}
        .body-text {font-size: 18px;}
        .subhead1 {font-size: 28px;}
        .subhead2 {font-size: 14px;}
    } @else if $max-vw < $desktop-w and $max-vw >= $mobile-w {
        h3 { font-size: 40px; }
        h4 { font-size: 24px; }
        h5, .h5-span-number {font-size: 20px;}
        span {font-size: 14px;}
        .body-text {
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.3px;
        }
    }
} 
