@use 'tools';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    font-family: tools.$font-bellefair;
    font-size: 18px;
}
main {
    width: 100%;
    height: tools.$main-h;
    padding-top: tools.$content-padding-top;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    padding: 0;
    border: 0;
    color: inherit;
    background-color: inherit;
}

h1 { 
    font-size: 150px;   
}
h2 { 
    margin: 0;
    font-size: 100px; 
    line-height: 115px;
}
h3 { font-size: 56px; }
h4 { 
    font-size: 32px; 
    opacity: 50.42%;
}
h5 { 
    color: tools.$color-body-text;
    font-size: 28px; 
    letter-spacing: 4.75px;
}
.body-text {
    color: tools.$color-body-text;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
}
.subhead1 { 
    color: tools.$color-content;
    font-family: tools.$font-bellefair;
    font-size: 28px; 
}
.subhead2 {
    color: tools.$color-head;
    font-family: tools.$font-barlowCondensed;
    font-size: 14px; 
    letter-spacing: 2.35px;
}
.navtext { 
    font-size: 16px; 
    letter-spacing: 2.7px; 
}
.body-text {
    font-family: tools.$font-barlow;
    font-style: normal;
    font-weight: 400;
}
h1, h2, h3, h4, .subhead1 { 
    font-family: tools.$font-bellefair;
    font-weight: normal;
}
h5, .subhead2, .navtext { 
    font-family: tools.$font-barlowCondensed;
    font-weight: normal;
}
h1, h2, h3, h4 { color: tools.$color-content; }
h1, h2, h3, h4, h5, .subhead1, .subhead2, .navtext, p { 
    margin: 0;
    padding: 0;
    text-transform: uppercase; 
}
p {
    text-align: justify;
    text-transform: unset;
}

/* Design Home Page FIGMA DIRECTIVES and responsive*/
header {
    width: 100%;
    height: tools.$nav-h;
    display: flex;
    padding-top: tools.$nav-padding-top;
    justify-content: space-between;
    align-items: center;
    img {
        margin-left: 3.75vw;
        width: 48px;
        height: 48px;
        transition: all 0.9s ease-in-out;
    }
    a:hover img {
        width: 40px;
        height: 40px;
        transform: rotate(360deg);
    }
    hr {
        max-width: 32.85vw;
        flex-grow: 1;
        mix-blend-mode: normal;
        background-color: hsla(0, 0%, 59%, 1);
        border: 1px solid hsla(0, 0%, 59%, 1);
        opacity: 25.15%;
        transform: translateX(4.51vw);
        z-index: 1;
    }
    .nav-index { 
        width: tools.$nav-w;
        max-width: tools.$nav-w;
        height: 100%; /* Let flex item fill all 'header' container height.*/
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        ul {
            height: 100%;
            margin: 0;
            padding: 0 11.46vw 0 8.54vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
    .navbar-content-element {
        box-sizing: border-box;
        height: 100%;
        &.navbar-current-page {
            border-bottom: 3px solid tools.$color-content;
            margin-bottom: -3px;
        }
        &:hover {
            border-bottom: 3px solid tools.$color-navbar-hover;
            margin-bottom: -3px;
        }
        a {
            display: flex;
            align-items: center; /* 'align-content' depends on the whole fb content, 'align-items' acts respect to each fb child */
            height: 100%;
            &:visited {
                border-bottom: 3px solid rgba(255, 255, 255);
            }
            span:first-child {
                font-weight: 700;
            }
        }
        span {
            display: inline-block;
            margin: 0 3px;
            color: tools.$color-content;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
        }
    }

/* Main content */

.grid-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: inherit;
}

.grid-cell-01 {
    grid-column: 1 / 2;
    width: 100%;
    padding-left: tools.$main-gc01-padding-left;
    align-items: baseline;
    .h5-span-number {
        font-weight: 700;
        opacity: 0.25;        
    }
    
}
.grid-cell-02 {
    grid-column: 2 / 3;
    justify-self: center;
}

.grid-cell-01, .grid-cell-02 {
    height: 100%;;
    display: flex;
    flex-direction: column;
}